* {
    margin: 0;
    padding: 0;
}

ul {
    overflow: hidden;
    margin: 5% 25%;
    width: 50%;
}

li {
    float: left;
    width: 32%;
    padding-top: 32%;
    list-style: none;
    border-radius: 10%;
    background-color: #e78326;
    margin: 0 1.25% 1.25% 0;
}

.clearfix {
    clear: left;
}
