body {
    margin: 0;
}

ul {
    overflow: hidden;
    margin: 5% 2.5% 5% 5%;
    padding: 0;
}

li {
    float: left;
    width: 30%;
    padding-top: 30%;
    list-style: none;
    border-radius: 10%;
    background-color: #ccc;
    margin-bottom: 2.5%;
}

li+li {
    margin-left: 2.5%
}

.line {
    margin-left: 0;
    clear: left;
}

.btn {
    position: absolute;
    left: 50%;
    margin-left: -71px;
}
