body {
    margin: 0;
    width: 100%;
}

ul {
    overflow: hidden;
    margin: 5% auto;
    width: 80%;
}

li {
    float: left;
    width: 8%;
    padding-top: 8%;
    list-style: none;
    border-radius: 10%;
    background-color: #ccc;
    margin: 0 0.3% 0.3% 0;
}

.clearfix {
    clear: left;
}
